.menu {
	color: #fff;
	width: 100%;
    
    & li {
		    width: 100%;
		    display: block;
      		padding: 10px 0;
	  		cursor: pointer;
	  		margin: 5px 0;
	  		text-align: center;

		    &:hover {
		   		 & a {
		   		 	color: #fff;

				    &::after,
				    &.orange::after {
				    	width: 100%;
				    	left: 0;
				    }	
		   		 }

				 & .svg_menu_icon {
		   		 	fill: #fff;
		   		 	transform: translateY(-2px);
		   		 } 
		    }

		    & a{  
			    color: rgba(255, 255, 255, 0.5);
			    transition: 0.3s;
			    font-weight: lighter;
			    font-size: .9rem;
			    font-family: $alegreya;
			    letter-spacing: .5px;
			    position: relative;
			    
			    &:hover {
				    color: #fff;
			    }

			    &:after{
		    	    content: '';
				    position: absolute;
				    width: 0;
				    height: 1px;
				    left: 50%;
				    top: 115%;
		    		background-color: $orange;
		    		transition: width .4s, left .4s;
			    }		    

				&.orange {
					color: $orange;
				}
			}

			& .svg_menu_icon {
				display: inline-block;
    			margin: -11px 15px -11px 4vw;
				display: block;
    			margin: 4px auto;
				fill: #808080;
			 	transition: all .3s;

				& path {

				}
			}

			&.chosen {
			    a::after {
			    	background-color: transparent;
			    }	

				& .svg_menu_icon {
					fill: $orange;
				 	transition: all .3s;
		   		 	transform: none;
				}
			}
    }

	

}


