.invisible .pokras_info {
     opacity: 0;
     top: -5vh;
}

.pokras_info {

	position: absolute;
	top: 1vh; left: 150px;
	height: 124px;
	width: 70%;
	min-width: 810px;
	border-radius: 10px;
	z-index: 3;
	transition: all 1s;
	opacity: 1;

	&.invis {
		opacity: 0;
		transform: rotateX(90deg);
		transition: all .4s;
	}

	& .pokras_info__nanesenie {
		position: relative;
		height: 100%;
		width: 100%;

		& .img {
		    display: inline-block;
		    position: relative;
		    margin-right: 2vw;
		    height: 100%;
		    width: 130px;

			&::after {
				content: '';
			    position: absolute;
			    background-color: #ffc300;
			    color: #ffffff;
			    top: 90%;
			    left: -10px;
			    padding: 4px 0 6px 6px;
			    font-size: 0.85rem;
			    width: 162px;
			    border-radius: 5px;
			    transform: rotateZ(-4deg);
			    font-weight: 700;
			    text-shadow: 1px 1px 1px #808080;
			    z-index: 4;
			}
            
            // Нанесение патины
			&.bellatserebr::after {
				content: 'Белый патина серебро';
			}
				
			&.bellatzoloto::after {
				content: 'Белый патина золото';
			}

			&.slonovpatinazoloto::after {
				content: 'Слоновая кость золото';
			}
			
			&.slonovpatinaserebro::after {
				content: 'Слоновая кость серебро';
			}
			
			&.yasenbezhkorich::after {
				content: 'Ясень беж коричневый';
			}

			// Нестандарт
			&.ton3::after {
				content: 'Тон3';
			}

			&.mahagon::after {
				content: 'Махагон';
			}
			
			&.belyy::after {
				content: 'Белый';
			}
			
			&.slonovayakost::after {
				content: 'Слоновая кость';
			}
			
			&.seryy::after {
				content: 'Серый';
			}

			// Стандарт
			&.venge::after {
				content: 'Венге';
			}

			&.temnyyoreh::after {
				content: 'Темный орех';
			}
			
			&.chereshnya::after {
				content: 'Черешня';
			}
			
			&.svetlyyoreh::after {
				content: 'Светлый орех';
			}

			& img {
                max-height: 15vh;
			    height: 90%;
			    margin-top: 5%;
			    box-shadow: -5px -2px 11px #a0a0a0;
			}
		}
	}
}
