.main {
	width: 100%;
	height: 100%;
	display: flex;
	transition: all 1s;

	&.invisible {
		opacity: 0;
		transform: scale(1.1,1.1);
	}

	&__slide {
		height: 100%;
		width: 25%;
		cursor: pointer;
		transition: 1s;

		&.clicked {
			width: 100%;
			cursor: default;

			& .main__slide__img {
				filter: sepia(0) brightness(100%);
				-webkit-filter: sepia(0) brightness(100%);
			}

			& .main__slide__title {
			    background-color: rgba(0,0,0,0.8);
			    font-weight: bold;
			}

			& .main__slide__info {
				opacity: 0;
			}

			& .main__slide__button {
				opacity: 1;
			}
		}

		&__img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 0 0;
			filter: sepia(0.36) brightness(51%);
			-webkit-filter: sepia(0.36) brightness(51%);
			transition: .8s;
		}

		&__title {
			position: absolute;
		    top: 10%;
		    width: 100%;
		    padding: 10px 0;
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 300;
		    font-size: 1.26rem;
	    	font-family: $poiret;
				transition: .5s;
		}

		&__info {
		    position: absolute;
	    	bottom: 12%;
	    	left: -6%;
		    transform: rotateZ(-90deg);
		    font-weight: lighter;
		    text-shadow: 1px 1px 2px #000;
			transition: .8s;
		}
		
		&__button {
		    display: inline-block;
		    opacity: 0;
		    position: absolute;
		    bottom: 10%;
		    left: 50%;
		    transform: translateX(-50%);
		    font-family: 'Poiret One';
		    cursor: pointer;
		    color: #ffffff;
		    font-size: 16px;
		    border-radius: 5px;
		    background: linear-gradient(180deg, #392c2800 5%, #433532 100%);
		    box-shadow: 0px 10px 14px -7px #616174;

		    &:hover {
			    background: linear-gradient(180deg, #d24026 5%, #ff6347 100%);
			}	

			&:active {
			    position: relative;
			    top: 1px;
			}

			&-text {
			    display: block;
			    text-align: center;
			    padding: 8px 18px;
			}

			&-icon {
			    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
			    box-shadow: rgba(0, 0, 0, 0.14) 0px -1px 0px inset;
			    border-radius: 5px 5px 0 0;
			    display: block;
			    text-align: center;
			    font-size: 60px;
			    padding: 20px 24px;
			    text-shadow: -1px 1px 1px #000;
			}
		}
	}

	&__info {
		position: absolute;
		width: 30%;
		padding: 22px;
		background-color: $orange;
		bottom: 0;
		right: 0;
		box-shadow: -1px -1px 90px 50px #ffc300;

		& h1 {
		    color: #000;
		    margin-bottom: 20px;
		    font-size: 2.3rem;
		    font-weight: 300;
		}

		& em {
		    color: #000;
		    font-size: 1.1rem;
		    font-weight: 200;
		    font-style: normal;
		}

		& button {
			border: 1px solid white;
			background-color: transparent;
			padding: 10px;
			cursor: pointer;
			margin-top: 20px;
			font-size: 1rem;
			font-weight: 200;
		}

		& .shadow {
			position: absolute;
			z-index: 0;
			font-size: 16rem;
			top: 50%;
			left: 50%;
			opacity: 0.15;
			font-family: fantasy;
		}
	}
}
