.about {
	height: 100%;
	align-items: baseline;
	flex-direction: column;
	overflow: hidden;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0 0 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 72.8%;
    position: absolute;
    z-index: 1;
    right: -40px;
    top: 18%;
    width: 100%;
}

.about__topimg {
	height: 70vh;

	& > div {
		height: 100%;
		transition: all .6s linear .2s;
        
        &.invis {
    		opacity: 0;
        	transform: scale(1.1);
        }

		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.about__topinfo {
    padding: 0 30px;
    box-sizing: border-box;
        
    & > div.invis {
	  p {
		opacity: 0;
    	transform: translateY(-100px);
   	  }
    }

    & p {
    	font-family: $poiret;
    	color: #000;
    	font-size: 1.2rem;
		transition: all .6s linear .3s;

		&::first-letter {
			color: $orange;
			font-size: 1.6rem;
			padding-left: 1rem;
		}
    }
}

.about__topinfo__advantages {
	display: flex;
	justify-content: center;
	margin-top: 4vw;
	transition: all .6s linear .2s;
        
    &.invis {
    	transform: translateX(50px);
    	opacity: 0;
    }	

	& .advantage {
		width: 30%;


		&::before {
		    content: '';
		    position: absolute;
		    top: .81vw;
		    left: 2vw;
		    width: 8.31vw;
		    height: 1px;
		    background-color: #c1c1c1;
		}



		&:first-of-type {
			& .fas {
				color: $orange;
			}
		}

		& .fas {
			color: #c3c3c3;
			font-size: 1.4rem;
			text-align: left;
			display: block;
			margin-bottom: 20px;
			transition: all .6s linear .1s;

			&::before {
				padding-left: .5rem;
			}

			&::after {
		        content: '';
			    position: absolute;
			    width: 2.6rem;
			    height: 2.6rem;
			    top: -.65rem;
			    left: -.62rem;
			    border-radius: 100%;
			    border: 1px solid #c3c3c3;
			    border-top: 1px solid transparent;
			    border-bottom: 1px solid transparent;
			}
			
			&:hover {
				color: $orange;
			}
		}

		& p {
			margin-left: -20px;
			width: 90%;

			&::first-letter {
				color: $orange;
				font-size: 1.2rem;
				padding-left: 0;
			}
		}
	}
}

.about__dopblocks {
    margin-bottom: 320px;
	margin-top: 25px;
	transition: .6s;

	&.invis {
		opacity: 0;
		transform: translateX(50px);
	}


    & input[type="checkbox"] {
    	display: none;

    	&:checked + .about__dopblocks__block {
    		height: 200px;

	    	& h3 {
	    	 	background-color: $aside;
	    		color: #fff;
	    	}
    	}
    }
}

.about__dopblocks__block {
    background-color: #f3f3f3a8;
    width: 82%;
    border-radius: 5px;
    border: 1px solid #cacaca;
    margin-top: 5px;
    margin-left: 8%;
    height: 40px;
    overflow: hidden;
    transition: .6s;

    & h3 {
		color: $aside;
		text-transform: uppercase;
		font-weight: lighter;
		padding: 11px 25px;
		cursor: pointer;

    }

    & p {
		font-family: "Poiret One";
	    color: #000;
	    font-size: 1.1rem;
	    padding: 5px;
	    transition: all .6s linear .3s;
    }

    & li, & b {
    	color: #000;
    }
    
}

.about__dopinfo {
	margin-top: 25px;
	padding-left: 20px;
	box-sizing: border-box;
	transition: 1s;

	&.invis {
		transform: translateX(-50px);
		opacity: 0;
	}

	& h2 {
	    color: #000;
	    font-size: 1.4rem;
	    margin-bottom: 3rem;
	    font-weight: 500;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    width: 100%;
	    transition: all 1s;

	    &::after {
	    	content: '';
		    width: 50px;
		    height: 4px;
		    background-color: #FFC300;
		    position: absolute;
		    top: 121%;
		    left: 0;
		}
	}

	& p {
		font-family: "Poiret One";
	    color: #000;
	    font-size: 1.2rem;
	    transition: all .6s linear .3s;
	}
}