//Media mixin

@mixin media600 {
	@media only screen and (max-width: 600px) {
		@content;
	}
}


$scrSizes: (
	sm: 500px,
	md: 800px,
	lg: 1000px,
	xl: 1200px
);

@mixin mque($size) {
   $point: map-get($scrSizes, $size);
   @media only screen and (max-width: $point) {
   	     @content;
   }
} 

//Media mixin

//width divs
$setkaCnt: 6;

@for $i from 1 through $setkaCnt {
	@if ($i%2 == 0){
		.col-#{$i} {
			width: (100% / $setkaCnt) * $i;
		}
	}
	@else {
		.col-#{$i} {
			width: (100% / $setkaCnt) * $i;
		}

	}

	.col-#{$i} {
		color: if($i%2 == 0, orange, purple);
		// background-color: if($i%2 == 0, #fff, #000);
		background-color: transparent;
		width: (100% / $setkaCnt) * $i;
		overflow: hidden;
		// & img {
		// 	width: 80px;			
		// 	@include mque(lg) {
		// 		width: 100%;
		// 	}
		// }
	}
}
//width divs


//width setka pics
$setkaPics: 12;

@for $i from 1 through $setkaPics {
	.variant#{$i} {
		width: (96% / $setkaPics) * $i;
	}
}

//width setka pics
